.App {
  padding-top: 20px;
  text-align: center;
}
table, th, td {
  border: 1.2px solid black;
}

table{
  border-collapse: collapse;
  margin: auto;
  border: 20px;
}
.name{
  text-transform: capitalize;
}

th, td {
  padding: 5px;
  text-align: left;
}

#totalmarks{
  text-align: right;
}

.Pass{
  color: black;
}

.Fail{
  color: red;
}

.Topper{
  color: rgb(164, 240, 51);
}